<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc'>我来自广东湛江，目前就职于Samsung Electronic</div>
</div>
</section>